<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" href="https://roots.io/app/themes/roots/dist/images/favicon-sage.ico">
        <title>Servos Taxi</title>
        <meta name="description" content="The best WordPress starter theme with a modern front-end development workflow. Based on HTML5 Boilerplate, gulp, Bower, and Bootstrap.">
        <link rel="stylesheet" href="./assets/main-c58a226c.css">
        <script src="./assets/izs1dzb.js"></script>
        <style type="text/css">.tk-lft-etica{font-family:"lft-etica",sans-serif;}</style>
        <link rel="stylesheet" href="./assets/l" media="all">
        <script>try{Typekit.load();}catch(e){}</script>
        <script async="" src="./assets/picturefill-0161fa48.js"></script>
        <script type="text/javascript" async="" src="./assets/js"></script>
        <style id="fit-vids-style">.fluid-width-video-wrapper{width:100%;position:relative;padding:0;}.fluid-width-video-wrapper iframe,.fluid-width-video-wrapper object,.fluid-width-video-wrapper embed {position:absolute;top:0;left:0;width:100%;height:100%;}</style>
        <script type="text/javascript" async="" src="./assets/in.php"></script><script type="text/javascript" async="" src="./assets/in(1).php"></script><script type="text/javascript" async="" src="./assets/in(2).php"></script>
    </head>
    <body class="page page-id-128 page-parent page-template page-template-template-sage page-template-template-sage-php sage brand-sage full sage">
        <header class="banner-top">
            <div class="nav-primary-wrap">
                <div class="container">
                    <nav class="nav-primary" role="navigation">
                        <ul id="menu-primary-navigation" class="nav">
                            <li class="menu-item menu-screencasts"><a href="https://roots.io/screencasts/">Screencasts</a></li>
                            <li class="menu-item menu-plugins"><a href="https://roots.io/plugins/">Plugins</a></li>
                            <li class="menu-item menu-books"><a href="https://roots.io/books/theme-development-with-sage/">Books</a></li>
                            <li class="menu-item menu-podcast"><a href="https://roots.io/podcast/">Podcast</a></li>
                            <li class="menu-item menu-blog"><a href="https://roots.io/blog/">Blog</a></li>
                            <li class="menu-item menu-about"><a href="https://roots.io/about/">About</a></li>
                            <li class="menu-item menu-community"><a href="https://discourse.roots.io/">Community</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <header class="banner banner-sage" role="banner">
            <div class="container">
                <a class="project-logo" href="./assets/Sage _ WordPress Starter Theme _ Roots.html">
                <i class="icon-sage"></i>
                <b>Sage</b>
                <img src="assets/logo.png" alt="Servos Taxi">
                </a>
            </div>
        </header>
        <div class="wrap container" role="document">
        <div class="content row">
        <main class="main" role="main">
        <section class="sage-related-products">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    <div class="cta-product cta-product-sage well well-sage module">
                        <a href="https://roots.io/books/theme-development-with-sage/" class="media">
                            <div class="media-left">
                                <img class="media-object" src="./assets/logo.png" alt="Sage book cover">
                            </div>
                            <div class="media-body">
                                <h4><span class="badge bg-white text-sage">Get the book</span> <br> <span class="text-sage">Theme Development with Sage</span></h4>
                                <p class="lead">A step-by-step guide to setting up a custom Sage starter theme.</p>
                                <p class="visible-md visible-lg">Build well organized &amp; easily maintained WordPress themes using a modern web development workflow.</p>
                                <p class="text-right"><button class="btn btn-danger">Buy</button></p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <h2>Striped Rows</h2>
  <p>The .table-striped class adds zebra-stripes to a table:</p>            
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>John</td>
        <td>Doe</td>
        <td>john@example.com</td>
      </tr>
      <tr>
        <td>Mary</td>
        <td>Moe</td>
        <td>mary@example.com</td>
      </tr>
      <tr>
        <td>July</td>
        <td>Dooley</td>
        <td>july@example.com</td>
      </tr>
    </tbody>
  </table>
</div>
        <footer class="content-info" role="contentinfo">
            <div class="container">
                <p><a href="https://roots.io/about/"><i class="icon-roots"></i></a></p>
                <ul class="list-social list-inline">
                    <li><a href="https://discourse.roots.io/" title="Discourse"><i class="icon-bubble"></i> Discourse</a></li>
                    <li><a href="https://twitter.com/rootswp" title="Twitter"><i class="icon-twitter"></i> Twitter</a></li>
                    <li><a href="https://github.com/roots" title="GitHub"><i class="icon-github"></i> GitHub</a></li>
                </ul>
                <p class="copy">© 2016 Roots (<a href="https://roots.io/hire-us/">Schedule a call with us!</a>)</p>
                <p class="powered-by">
                    <a href="https://roots.io/r/digitalocean/">
                    Powered by Trellis &amp; DigitalOcean
                    </a>
                </p>
                <nav class="nav-legal" role="navigation">
                    <ul class="list-inline">
                        <li><a href="https://roots.io/privacy/">Privacy Policy</a></li>
                        <li><a href="https://roots.io/refunds/">Refund Policy</a></li>
                    </ul>
                </nav>
            </div>
        </footer>
        <a href="https://roots.io/checkout/" rel="nofollow" class="checkout-notice-bottom closed">
        <span class="btn btn-primary btn-sm"><i class="icon-cart"></i> Ready to checkout?</span>
        </a>
        <script src="./assets/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="/app/themes/roots/dist/scripts/jquery-8d8f8005.js"><\/script>')</script>
        <script src="./assets/modernizr-45f0e1f4.js"></script>
        <script src="./assets/main-4a7011e3.js"></script>
        <script>
            window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
            ga('create','UA-71591-42','auto');ga('send','pageview')
        </script>
        <script src="./assets/analytics.js" async="" defer=""></script>
        <script>
            var clicky_site_id = 66406668;
            (function() {
              var s = document.createElement('script');
              s.type = 'text/javascript';
              s.async = true;
              s.src = '//static.getclicky.com/js';
              (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(s);
            })();
        </script>
    </body>
</html>
