<div class="container">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <div class="item">
          <%= image_tag "imagem_diferencial.png", class: "img-responsive" %>
          <div class="carousel-caption">
          </div>
        </div>
        <div class="item">
          <%= image_tag "imagem_familia.png", class: "img-responsive" %>
          <div class="carousel-caption">
          </div>
        </div>
        <div class="item active">
          <%= image_tag "imagem_app.png", class: "img-responsive" %>
          <div class="carousel-caption">
          <div class="col-md-4 qr-code">
            <a href="https://goo.gl/UFe7Jy" target="_blank">
              <img src="http://chart.apis.google.com/chart?chs=120x120&amp;cht=qr&amp;chld=|1&amp;chl=https%3A%2F%2Fgoo.gl%2FUFe7Jy" alt="QR Code" class="img-responsive"></a>
          </div>
          <div class="col-md-4 badge-ios">
            <a href="https://geo.itunes.apple.com/br/app/servos-taxi/id1072090522?mt=8">
              <img src="http://linkmaker.itunes.apple.com/images/badges/en-us/badge_appstore-lrg.svg" class="img-responsive"/>
            </a>
          </div>
          <div class="col-md-4 badge-playstore">
            <a href="https://play.google.com/store/apps/details?id=br.com.servostaxi.passenger.taximachine&utm_source=global_co&utm_medium=prtnr&utm_content=Mar2515&utm_campaign=PartBadge&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1&utm_source=global_co&utm_medium=prtnr&utm_content=Mar2515&utm_campaign=PartBadge&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1"><img alt="Get it on Google Play" src="https://play.google.com/intl/en_us/badges/images/generic/pt-br-play-badge.png" class="img-responsive"/></a>
          </div>
          </div>
        </div>
      </div>
    </div>
</div>
