<% if @rate.nil? -%>
  $("#messages").hide(300);
  $("#messages").append("<div class='alert alert-danger'>Origem e destino não encontrado.</div>");
  $("#messages").show(300);
<% else -%>
  //$("#sumary").remove();
  $("#messages").hide(300);
  $("#messages").empty();
  $("#message").append("<div class='alert alert-success'>Origem e destino adicionado com sucesso.</div>");
  $(":input:not(input[type=submit])").val("");
  $("#messages").show(300);
  $("#list_table_price").append("<tr><td><%= @rate.id %></td><td><%= @rate.origin.name %></td><td><%= @rate.target.name %></td><td class='quantity'><%= @rate.price.to_f %></td></tr>")
  $("#result_soma").append("");
  sumPrice();
<% end -%>

