<h2>Show user</h2>

<div class="well">
  <p><strong>Email:</strong> <%=  @user.email %></p>
  <p><strong>Admin:</strong> <%=  @user.admin %></p>
</div>

<%= link_to "Listar Todos", users_path, class: "btn btn-default" %>
