<?xml version="1.0"?>
<?mso-application progid="Excel.Sheet"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">

  <ExcelWorkbook xmlns="urn:schemas-microsoft-com:office:excel">
    <WindowHeight>6795</WindowHeight>
    <WindowWidth>8460</WindowWidth>
    <WindowTopX>120</WindowTopX>
    <WindowTopY>15</WindowTopY>
    <ProtectStructure>False</ProtectStructure>
    <ProtectWindows>False</ProtectWindows>
  </ExcelWorkbook>

  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">Origem</Data></Cell>
        <Cell><Data ss:Type="String">Destino</Data></Cell>
        <Cell><Data ss:Type="String">Valor</Data></Cell>
      </Row>
    <% @rates.each do |rate| %>
      <Row>
        <Cell><Data ss:Type="String"><%= rate.origin.name if rate.origin.present? %></Data></Cell>
        <Cell><Data ss:Type="String"><%= rate.target.name if rate.target.present? %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= rate.price.to_f %></Data></Cell>
      </Row>
    <% end %>
      <Row>
      </Row>
    </Table>
  </Worksheet>
</Workbook>
