<ul class="nav navbar-nav ">
  <li class="menu-item menu-books"><%= link_to '<i class="fa fa-plus-square-o"></i> Novas Tarifas'.html_safe, table_prices_path  %></li>
  <li class="menu-item menu-books"><%= link_to '<i class="fa fa-list"></i> Tarifas'.html_safe, search_tax_index_path  %></li>
</ul>
