<ul class="nav navbar-nav ">
  <li><%= nav_link "Usuários", users_path %></li>
  <li><%= nav_link "Bairros", districts_path %></li>
  <li><%= nav_link "Confirmar Tarifas", table_prices_path %></li>
  <li><%= nav_link "Tarifas", search_tax_index_path %></li>
</ul>
