<ul class="nav navbar-nav ">
  <li class="menu-item menu-books"><%= link_to "Novas Tarifas", table_prices_path  %></li>
  <li class="menu-item menu-books"><%= link_to "Tarifas", search_tax_index_path  %></li>
</ul>
